a img {border:0;vertical-align:text-bottom;}
table {border-collapse:collapse;}
th.side {
  background: transparent url(bg_th_side.gif) no-repeat bottom left;
}
td.side {
  text-align:right;
  background: transparent url(bg_td_side.gif) no-repeat bottom left;
  width:180px;
  font:bold 12px/15px verdana;
  color:#6e6f37;
  padding-right:8px;
}

th {
  height:64px;
  border-right:1px solid #fff;
  vertical-align:bottom;
  color:#fff;
  font:normal 16px/17px arial;
  letter-spacing:2px;
  background:transparent url(bg_th.gif) no-repeat bottom left;
  }
td {
  text-align:center;
  background:transparent url(bg_td.gif) no-repeat bottom left;
  border-right:1px solid #fff;
  color:#fff;
  width:108px;
  height:40px;
  font:bold 12px/18px verdana;
}
td.on {background:transparent url(bg_td_on.gif) no-repeat bottom left;}
th.on {
  background:transparent url(bg_th_on.gif) no-repeat bottom left;
  padding-bottom:9px;
  width:148px;
  
}

tfoot td {
  background:transparent url(bg_foot_td.gif) no-repeat top left;
  height:64px;
  vertical-align:top;
  padding-top:8px;
}
tfoot td.on {
  background:transparent url(bg_foot_td_on.gif) no-repeat top left;
  padding-top:16px;
}
tfoot td.side {background: transparent url(bg_foot_td_side.gif) no-repeat top left;}